@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    body {
        font: 14px 'Inter', sans-serif;
        min-width: 100vw;
        min-height: 100vh;
    }
    
    #root {
        display: flex;
        flex-direction: row;
        min-width: 100vw;
        min-height: 100vh;
    }
    
    .board-row:after {
        clear: both;
        content: "";
        display: table;
    }
    
    .square {
        float: left;
        line-height: 34px;
        margin-right: -1px;
        margin-top: -1px;
        padding: 0;
        text-align: center;
    }
    
    .square.highlight {
        background-color: greenyellow;
        color: green;
    }
    
    .square:focus {
        outline: none;
    }
    
    .kbd-navigation .square:focus {
        background: #ddd;
    }
}